// Cubix Colors
$red: #e80910;
$orange: #FF6037;
$orange-accent: #d1451f;
$orange-50: #d1461f80;
$yellow: #e8dc09;
$green: #1d7427;
$teal: #67cbdd;
$blue: #4965f2;
$purple: #751cff;
$pink: #eb3d66;
$white: #ffefef;
$white-50: #ffffff80;
$lgrey: #DDDDDD;
$grey: #2c3e50;
$black: #232323;
$main: #171717;
$side: #ff343b;
$good: #5cff70;
$bad: #e50910;
$info: #58d3e8;
$warn: #e5dc09;

// Color Themes
$dark-theme: true !default;
// Light
$btn-light: $black;
$bg-light: $white;
$text-light: $black;
$nav-light: #cccccc;
// Dark
$btn-dark: $main;
$bg-dark: $main;
$text-dark: #cccccc;
$nav-dark: $black;