// Cubix Colors
$red: #e80910;
$orange: #FF6D4D;
$yellow: #e8dc09;
$green: #1d7427;
$teal: #67cbdd;
$blue: #4965f2;
$purple: #751cff;
$pink: #e85879;
$white: #ffefef;
$grey: #2c3e50;
$black: #232323;
$main: #171717;
$primary: #ff6d4d;
$secondary: #E6E6E5;
$accent: #FF7B00;
$side: #ff343b;
$good: #5cff70;
$bad: #e50910;
$info: #58d3e8;
$warn: #e5dc09;

// Color Themes
$dark-theme: true !default;
// Light
$btn-light: $black;
$bg-light: $white;
$text-light: $black;
$nav-light: $secondary;
// Dark
$btn-dark: $main;
$bg-dark: $black;
$text-dark: $secondary;
$nav-dark: $black;