.text-white {
    color: $white;
}

.text-black {
    color: $black;
}

.bg-main {
    background: $main;
}

.bg-orange {
    background-color: $orange;
}

.bg-blue {
    background-color: $blue;
}

.bg-green {
    background-color: $green;
}

.bg-pink {
    background-color: $green;
}

.bg-side {
    background: $side;
}

.bg-good {
    background: $good;
}

.bg-bad {
    background: $bad;
}

.bg-warn {
    background: $warn;
}

.bg-info {
    background: $info;
}

.bg-med {
    background: $grey;
}

.bg-lmed {
    background: $lgrey;
}


.bg-light {
    background: $white;
    &-nav {
        background: $nav-light;
    }
}

.bg-dark {
    background: $black;
    &-nav {
        background: $nav-dark;
    }
}

.bg-gradient {
    background: -webkit-linear-gradient(
      25deg,
      $yellow,
      $orange,
      $pink,
      $purple,
      $teal
    );
  }