// Fonts
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import "./_base.scss";
@import "./_colorstyles.scss";
@import "./_animate.scss";

 
// Style
html {
  width: 100%;
  background: $main;
  font-family: Ubuntu;
  overflow-wrap: break-word;
}

html[data-theme="dark"] {
  background: $bg-dark;
  $dark-theme: true !global;
}

html[data-theme="light"] {
  $dark-theme: false !global; // Lazy Error Catching
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

input:checked + label {
  background: $btn-dark;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: $btn-light;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: relative;

  &:after {
    content: "";
    background: #fff;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}



.topnav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &-ico {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  &-link {
    float: left;
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    &:hover {
      background: $text-dark;
      color: $black;
    }
  }
  &-dlink {
    float: left;
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  &-section {
    position: absolute;
    right: 0;
  }
  &-dropdown {
    position: relative;
    display: inline-block;
    &-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &:hover topnav-dropdown-content {
      display: block;
    }
  }
  a.router-link-active {
    background: $main;
  }
}

.ind {
  text-indent: 1rem;
}

.pad {
  padding: 1rem;
  &-i {
    padding: 1.5rem;
  }
  &-6 {
    padding: 6rem;
  }
}

.margin {
  &-right {
    margin-right: 0;
  }
  &-left {
    margin-left: 5%;
  }
  &-bottom {
    margin-bottom: 0;
  }
  &-top {
    margin-top: 0;
  }
}

.flex-box {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  &-text-center {
    text-align: center !important;
  }
  &-left {
    align-items: left !important;
    flex-direction: unset !important;
    margin-left: 15%;
  }
  &-middle {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.inline-box {
  width: 80%;
  margin-right: auto;
  margin-left: 5%;
  align-items: left !important;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  &-desc {
    display: flex;
    flex-direction: column;
  }
  &-delimited {
    width: 100% !important;
    margin-right: auto;
    margin-left: auto;
    align-items: left !important;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  &-right {
    margin-left: auto;
    margin-right: 5%;
    align-items: right !important;
  }
}

.header-spacer {
  padding-top: calc(2rem + 4px);
  padding-bottom: 2rem;
  &-small {
    padding-top: calc(1rem + 1px);
    padding-bottom: 0.5rem;
  }
}

.header-ico {
  width: 15rem;
  height: fit-content;
}

.header-title {
  font-size: 2.75rem;
  line-height: 2.75rem;
  margin-bottom: 1rem !important;
  color: $white;
}

.header-subtitle {
  font-size: 1.25rem;
  color: $white;
}

.spacer {
  padding-top: calc(3rem + 74px);
  padding-bottom: 3rem;
  &-small {
    padding-top: calc(1.5rem + 39px);
    padding-bottom: 1rem;
  }
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $black;
  color: $white;
  text-align: center !important;
}

.copyright {
  background-color: #1a252f;
}

.social-ico {
  text-decoration: none;
  color: $white;
  padding-right: 1rem;
  &-small {
    width: 64px;
  }
}

@media (min-width: 992px) {
  .header-spacer {
    padding-top: calc(6rem + 4px);
    padding-bottom: 6rem;
  }
}

.content-container {
  width: 30%;
  height: 70%;
  border: none;
  outline: none;
}

.form-container {
  width: 100%;
  height: 100%;

  background-color: #370617;
  box-shadow: 0 0 50px -20px #000;
  border-radius: 2%;
  padding-bottom: 30px;

  overflow: hidden;
}

.form-header-container {
  width: 100%;
  height: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 30px;
  padding-top: 30px;

  border-bottom: 1px solid transparent;
  border-image: -webkit-linear-gradient(
      25deg,
      #ffbe0b,
      #fb5607,
      #ff006e,
      #8338ec,
      #3a86ff
    )
    20;
  background: #000;
}

.form-header {
  display: inline-block;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;

  background: -webkit-linear-gradient(
    25deg,
    #ffff,
    #fb5607,
    #ff006e,
    #8338ec,
    #3a86ff
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-content-container {
  width: 100%;
  height: 90%;

  float: left;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;
}

.form-content-inner-container {
  width: 75%;
  height: 100%;

  float: left;
}

.form-input {
  width: 100%;
  height: 40px;

  padding-left: 10px;
  margin-bottom: 20px;

  background: #000;
  font-weight: 500;
  color: #fff;
  font-size: 12px;
  font-family: Ubuntu;

  border-bottom: 2px solid transparent;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-image: -webkit-linear-gradient(
      25deg,
      #ffbe0b,
      #fb5607,
      #ff006e,
      #8338ec,
      #3a86ff
    )
    1;
}

.button-container {
  width: 100%;
  height: 10%;
  background-image: linear-gradient(
    80deg,
    #ffbe0b,
    #fb5607 50%,
    #ff006e 50%,
    #8338ec
  );
  color: #fff;
  float: left;
  margin-top: 5px;

  &-button {
    width: 50%;
    height: 100%;
    float: left;

    background: transparent;
    color: inherit;

    letter-spacing: 1px;
    font-weight: 400;
    font-size: 12px;
    font-family: Ubuntu;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  &-small {
    margin-left: 15%;
    margin-right: 15%;
    border: 1rem solid transparent;
  border-radius: 0.5rem;
  }
  
  &-heading {
    color: inherit;
  }

  &-link {
    font-weight: 700;
  }

  &-dismissible {
    padding-right: 3rem;
    &-close {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      padding: 1.25rem 1rem;
    }
  }
}

.text-med {
  font-size: 1.25rem
}

.button {
  border: none;
  color: white;
  border-radius: 1rem;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btn {
  background: $blue;
  &-green {
    background: $green;
  }
  &-pink {
    background: $pink;
  }
}

.grid {
  display: grid !important; 
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  &-tri {
    column-gap: 1rem;
    row-gap: 1.5rem;
  }
}

.box {
  width: 40%;
  height: 100% !important;
  padding: 3rem;
  border-width: 1em;
  border-style: outset;
  border-color: $orange;
  border-radius: 1rem;
  background-color: $black;
}

.vertin-box {
  width: 15%;
  height: 25rem;
  padding: 3rem;
  border-radius: 1rem;
  &-body {
    width: inherit;
    height: inherit;
  }
  &-disabled {
    width: 15%;
    height: 25rem;
    padding: 3rem;
    border-radius: 1rem;
  }
  &-img {
    width: 100%;
    height: fit-content;
  }
  &-title {
    font-weight: 600;
    font-size: x-large;
  }
  &:hover {
    animation-name:scale;
			animation-duration: 30s;
			animation-iteration-count: infinite;
			animation-timing-function: initial;
  }
  @keyframes scale{
    0%{scale: 1;}
    1.25%{scale:1.0625;}
    100%{scale:1.0625;}
  }
}


.justify {
  justify-content: space-evenly;
}